a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

body {
    background-image: url('../imgsvids/552884.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative; /* Add this line to make the overlay work properly */
}

.card {
    background: rgba(25, 175, 255, 0.54);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
}

h3 {
    color: #fff;
    font-weight: 600;
}

label {
    font-weight: 600;
    color: #fff;
}
