a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

body {

    background-image: url('../imgsvids/autherlogin.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative; /* Add this line to make the overlay work properly */
}


h3 {
    color: #fff;
    font-weight: 600;
}

label {
    font-weight: 600;
    color: #fff;
}
.card {
    background-color: rgba(245, 245, 245, 0.004);
}
p {
    color: #fff;
    font-size:24px;
}
h1 {
    color: #fff;
    font-weight: 800;
}