body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    position: relative;
    padding: 0;
}


#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media(min-aspect-ratio : 16/9) {
    #video-background {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio : 16/9) {
    #video-background {
        width: auto;
        height: 100%;
    }
}
a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}


.card {
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
}

h3 {
    color: #fff;
    font-weight: 600;
}

label {
    font-weight: 600;
    color: #fff;
}

